# Info about .editorconfig:
# https://editorconfig.org/ or for the exact specs:
# https://editorconfig-specification.readthedocs.io/
root = true

[*]
indent_size = 4
indent_style = space
trim_trailing_whitespace = true
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.md]
trim_trailing_whitespace = false

{makefile,package-lock.json}
insert_final_newline = false
indent_size = unset
indent_style = tab
