<!-- Choose proficency -->
<table>
    <tr>
        <td>Erfahrungsgrad:</td>
        <td>
            <select [(ngModel)]="character._proficency">
                <option *ngFor="let p of characterService._proficencies"
                        [ngValue]="p">{{ p.label }}
                </option>
            </select>
        </td>
    </tr>
    <tr>
        <td>Herkunft:</td>
        <td>
            <select [(ngModel)]="character._origin">
                <option *ngFor="let o of characterService._origins"
                        [ngValue]="o">{{ o.label }}
                </option>
            </select>
        </td>
    </tr>
</table>
<br>

<!-- General Information (Name, Age, etc.) -->
<table>
    <tr *ngFor="let i of character._information">
        <td title="{{ i.explanation }}">{{ i.name }}:</td>
        <td><input [(ngModel)]="i.value"></td>
    </tr>
</table>
<br>

<!-- Calculated  -->
<table>
    <tr>
        <td>Trefferpunkte:</td>
        <td>{{ character.health }}</td>
    </tr>
    <tr>
        <td>Initiative:</td>
        <td>{{ character.initiative }}</td>
        <td>{{ character.initiative_level }}</td>
    </tr>
</table>
<br>

<!-- Fighting/Weapon talents -->
<table>
    <td>Name</td><td>Base</td><td>Cap</td><td>Xtra</td>
    <tr *ngFor="let t of character._calcTalents">
        <td title="{{ t.explanation }}">{{ t.name }}:</td>
        <td>{{ t.basePoints }}</td>
        <td>{{ t.capPoints }}</td>
        <td>{{ t.extraPoints }}</td>
        <td>
            <button (click)="t.extraPoints = t.extraPoints - 1">-</button>
            <button (click)="t.extraPoints = t.extraPoints + 1">+</button>
        </td>
        <td>= {{ t.allPoints }}</td>
        <td>Kosten: {{ t.cost }}</td>
    </tr>
    <!-- TODO: Add Weapon Talents -->
</table>
<br>

<!-- Base Values (Strength, Dexterity, etc.) -->
<table>
    <tr>
        <td>Basis Punkte:</td>
        <td [ngStyle]="{ color:
            character.basePointsSum <= character.basePoints ? 'green' : 'red' }">
            {{ character.basePointsSum }}/{{ character.basePoints }}
        </td>
        <td>({{ character.maxBasePoints }})</td>
    </tr>
    <tr *ngFor="let b of character._baseValues">
        <td title="{{ b.explanation }}">{{ b.name }}:</td>
        <td [ngStyle]="{ color:
            b.value <= character.maxBasePoints ? '' : 'red' }">
            {{ b.value }}
        </td>
        <td>
            <button (click)="b.value = b.value - 1">-</button>
            <button (click)="b.value = b.value + 1">+</button>
        </td>
    </tr>
</table>
<br>

<!-- Talents (Perception, Pickpocketing, etc.) -->
<table>
    <tr>
        <td>Ausgleichspunkte:</td>
        <td [ngStyle]="{ color:
            character.talentPointsCostSum <= character.talentPoints ? 'green' : 'red' }">
            {{ character.talentPointsCostSum }}/{{ character.talentPoints }}
        </td>
        <td></td><td></td><td></td><td></td>
        <td>({{ character.maxTalentPoints }})</td>
    </tr>
    <tr *ngFor="let t of character._talents">
        <td title="{{ t.explanation }}">{{ t.name }}:</td>
        <td>
            <a *ngFor="let attr of t.attributes">
                {{ attr }}
            </a>
        </td>
        <td>{{ t.basePoints }}</td>
        <td>{{ t.difficulty }}</td>
        <td>{{ t.extraPoints }}</td>
        <td>
            <button (click)="t.extraPoints = t.extraPoints - 1">-</button>
            <button (click)="t.extraPoints = t.extraPoints + 1">+</button>
        </td>
        <td>
            =
            <span [ngStyle]="{ color:
                    t.allPoints <= character.maxTalentPoints ? '' : 'red' }">
                {{ t.allPoints }}
            </span>
        </td>
        <td>Kosten: {{ t.cost }}</td>
    </tr>
</table>
<br>


<button (click)="log()">Print Char</button>
<br><br>

<textarea [(ngModel)]="textArea">
</textarea>
<br>
<button (click)="export()">Export</button>
<button (click)="import()">Import</button>
